<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/index.css">
  <title>Document</title>
</head>
<body>
  <section class="sec-1">
    <p>第一步，选择一张图片:</p>
    <input class="file-upload" type="file"  name="input-img" id="input-img">
  </section>

  <section class="sec-2">
    <p>第二步，选择4-8个颜色：</p>
    <div id="color-list"></div>
  </section>

  <section class="sec-3">
    <p>第三步，截图吧！</p>
    <img src="img/456.jpg" alt="" id="img-show" width="100px">
    <div id="color-list"></div>
  </section>



</body>
<script src="https://lib.sinaapp.com/js/jquery/1.10.1/jquery-1.10.1.min.js" charset="utf-8"></script>
<script src="js/uploadPreview.js" charset="utf-8"></script>
<script src="js/rgbaster.min.js" charset="utf-8"></script>
<script src="js/index.js" charset="utf-8"></script>
</html>
